<link href="<%= url('/stylesheets/bookshelf.css') %>" rel="stylesheet" type="text/css" />
<% if logged_in? %>
<h1>Welcome to your Bookshelf, <%=current_user.username%></h1>

<h4>Your Books are:</h4>
<ul>
  <%current_user.books.each do |book|%>
  <li><%=book.title%> by <%=book.author%> which you have a rating of <%=book.rating%> 
    <form action="/books/<%=book.id%>/edit">
      <input type="submit" value="Edit Book" />
    </form>
    <form action="/books/<%= book.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button name="delete" value="Delete Book">Delete Book</button>
    </form>
  </li>
  <%end%>
</ul>

<p><a href="/books/new">Add a New Book to your Bookshelf</a></p>
<p><a href="/books/show">Show Book Details on your Bookshelf</a></p>
<p><a href="/logout">Log Out</a></p>
<% end %>

