<% if logged_in? %>
<h1>Welcome to your Bookshelf, <%=current_user.username%></h1>

<h4>Your Books are:</h4>
<ul>
  <%current_user.books.each do |book|%>
  <li><%=book.title%> by <%=book.author%> which you have a rating of <%=book.rating%> 
  <a href="/books/<%=book.id%>/edit">Edit Book</a> 
  <a href="/books/<%=book.id%>/edit">Delete Book</a></li>
  <%end%>
</ul>

<p><a href="/books/new">Add a New Book to your Bookshelf</a></p>
<p><a href="/books/show">Show Book Details on your Bookshelf</a></p>
<p><a href="/logout">Log Out</a></p>
<% end %>

